<div class="col-md-8 blog-main">
<p>
  <%= link_to 'New Blog Post', new_blog_path, class: 'btn btn-sm btn-primary' if logged_in?(:site_admin) %>
</p>
  <%= render @blogs %>

  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>

  <br>
</div>
<!-- /.blog-post -->
