<div class="album bg-light">
  <div class="container">
    <%= source_helper('alert alert-warning') %>
    <div class="row <%= 'sortable' if logged_in?(:site_admin) %>">
      <% if @portfolio_items.any? %>
        <%= render partial: 'portfolio_item', collection: @portfolio_items %>
      <% else %>
        <p class="py-2">There are no portfolios created yet.</p>
      <% end %>
    </div>
  </div>
</div>

