<div class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <h2>Feel free to contact me any time.</h2>
        <hr>
      </div>

      <div class="col-md-4">
        <h4>Home Address</h4>
        <p>51 Rushock Close</p>
        <h4>Phone</h4>
        <p><%= number_to_phone "+44 7748107682" %></p>
        <ol class="list-unstyled social-links">
          <li><a href="mailto:dobriyanp@yahoo.com?subject=PortfolioContact">Email me</a></li>
          <li><a target="_blank" href="https://www.facebook.com/dobriyanp"><%= fa_icon "facebook" %>  Facebook</a></li>
          <li><a target="_blank" href="https://www.github.com/asdbsd"><%= fa_icon "github" %>  GitHub</a></li>
          <li><a target="_blank" href="https://www.twitter.com/dobriyanp"><%= fa_icon "twitter" %>  Twitter</a></li>
        </ol>
      </div>

      <div class="col-md-8">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d725.6431178230496!2d-1.9118769063693468!3d52.28400839722566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2suk!4v1669658337873!5m2!1sbg!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
