<div class="row py-5">
  <div class="col-md-12 my-3">
    <h2>Feel free to contact me any time.</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Home Address</h4>
    <p>Paradise Park Jomtien Resort</p>
    <h4>Phone</h4>
    <p><%= number_to_phone "45645654521" %></p>
    <h4>Email</h4>
    <p><a href="mailto:dobriyanp@yahoo.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.311217054592!2d100.88406514978789!3d12.887698790866365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102969cb530d259%3A0x5f7356ec3b494c29!2sParadise%20Park%20Jomtien%20Resort!5e0!3m2!1sen!2sth!4v1588308413895!5m2!1sen!2sth" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
