<h1 class="cover-heading">WELCOME</h1>
<p class="lead">This is my multiple layout Rails(ROR) Portfolio Application, and it is part of my programming education and especially Ruby & Rails learning. The app is created to represent myself to everyone visiting it, and those who are ready to provide me with opportunity to continue my development growth in professional development environment...</p>
<p class="lead">
  <%= link_to "About Me", about_me_path, class: 'btn btn-md btn-primary' %>
</p>
